/* NavBar */

.tituloNav {
  margin: 0;
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--tipografiaTitulo);
  background-color: var(--fondoNav);
  color: var(--texto);
  @media (max-width: 403px) {
    font-size: 1.3rem;
  }
  @media (max-width: 315px) {
    font-size: 1rem;
  }
  @media (max-width: 290px) {
    font-size: 0.8rem;
  }
}
.tituloCont {
  background-color: var(--fondoNav);
}
.tituloNav {
  transition: color 0.3s ease, transform 0.5s ease;
}
.tituloNav:hover {
  color: var(--hoverTexto);
  transform: scale(1.04);
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--fondoNav);
  color: var(--texto);
  padding: 10px;
  z-index: 1000;
}
.elementosNav {
  margin-right: 5rem;
  background-color: var(--fondoNav);
}
.navbar-nav .nav-link {
  color: var(--texto);
  background-color: var(--fondoNav);
}
.navbar-nav .nav-link:hover {
  color: var(--hoverTexto);
}
.menuEstadisticas {
  background-color: var(--fondoNav);
  color: var(--texto);
}
.menuEsta {
  background-color: var(--fondoNav);
  color: var(--texto);
}
.menuEsta:hover {
  color: var(--hoverTexto);
  background-color: var(--fondoNav);
}
.botonDelNav {
  color: var(--hoverTexto);
  background-color: var(--fondoPricipal);
}
.fotoimg:hover {
  color: var(--hoverTexto);
}
.fondoNav {
  background-color: var(--fondoNav);
}
.fotoimg:hover {
  :hover {
    color: var(--hoverTexto);
  }
}
