@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rye&display=swap");

:root {
  /* Tipografias */
  --tipografiaTitulo: "Rye", serif;
  --tipografiaGeneral: "Playfair Display", serif;

  /* Colores */
  --hoverTexto: #ff3300;
  --hoverBorde: #646cff;
  --boton: #1a1a1a;
  --fondoPricipal: #242424;
  --fondoNav: #333;
  --texto: #fff;
}

/* NavBar */

.nav {
  font-family: var(--tipografiaGeneral);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--fondoNav);
  color: var(--texto);
  padding: 10px;
  z-index: 1000;
}

.nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloNav {
  margin: 0;
  margin-left: 20px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--tipografiaTitulo);
}

.elementosNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  display: flex;
}

.elementosNav li {
  margin-right: 20px;
}

.elementosNav li a {
  color: var(--texto);
  text-decoration: none;
}

.elementosNav li a:hover {
  color: var(--hoverTexto);
}

/* Boton */

.boton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--boton);
  cursor: pointer;
  transition: border-color 0.25s;
}
.boton:hover {
  border-color: var(--hoverBorde);
}
.boton:focus,
.boton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
