:root {
  /* Tipografias */
  --tipografiaTitulo: "Rye", serif;
  --tipografiaGeneral: "Playfair Display", serif;

  /* Colores */
  --hoverTexto: #ff3300;
  --hoverBorde: #646cff;
  --boton: #1a1a1a;
  --fondoPricipal: #242424;
  --fondoNav: #333;
  --texto: #fff;
}

/* Principal */
.principal {
  margin-top: 2rem;
}
.principal li {
  background-color: var(--fondoNav);
  color: var(--texto);
}
.principal span {
  color: var(--texto);
  font-size: 1.5rem;
  background-color: var(--fondoPricipal);
}
.principal span:hover {
  background-color:var(--hoverTexto);
  transition: 0.3s;
}

.nombre {
  color: var(--texto);
  background-color: var(--fondoNav);
  font-size: 1.4rem;
}
.logros {
  color: var(--texto);
  background-color: var(--fondoNav);
  font-size: 1rem;
}
