@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  color: var(--texto);
  font-family: var(--tipografiaGeneral);
  background-color: var(--fondoPricipal);
}

.campo {
  padding-top: 3.5rem;
  /* margin-top: 3.5rem; */
}

:root {
  /* Tipografias */
  --tipografiaTitulo: "Rye", serif;
  --tipografiaGeneral: "Playfair Display", serif;

  /* Colores */
  --hoverTexto: #ff0000;
  --hoverBorde: #00ff00;
  --boton: #1a1a1a;
  --fondoPricipal: #242424;
  --fondoNav: #333;
  --texto: #fff;
  --marron: #8b4513;
}

/* Boton */
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--boton);
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: var(--hoverTexto);
  color: var(--hoverTexto);
  background-color: var(--fondoNav);
  transition: 0.3s;
}
.btn :focus,
.btn :focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btn {
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* El mas tonto */
.tituloH3 {
  text-align: center;
  margin-top: 25px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

/* CowboyDelDia */
.cowboyDelDia {
  text-align: center;
  margin-top: 8rem;
}

/* Tarjeta */
.principalTarjeta {
  border: 10px solid var(--fondoPricipal);
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
span.numeros {
  background-color: var(--boton);
  color: var(--texto);
  font-size: 31px;
}
.titulosObtenidos {
  font-size: 18px;
  padding-top: 10px;
}

/* Lista Participantes */
.ListaParticipantes {
  border: 10px solid var(--fondoPricipal);
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.ListaParticipantes li {
  background-color: var(--fondoNav);
  color: var(--texto);
}
span {
  float: right;
}
.ListaParticipantes span {
  color: var(--texto);
  font-size: 1.5rem;
  background-color: var(--boton);
}
.princListaParticipantesipal span:hover {
  background-color: var(--hoverTexto);
  transition: 0.3s ease, transform 0.5s ease;
}
.nombre {
  color: var(--texto);
  background-color: var(--fondoNav);
  font-size: 1.4rem;
  text-decoration: none;
}
.logros {
  color: var(--texto);
  background-color: var(--fondoNav);
  font-size: 1rem;
}
.ListaParticipantes p {
  margin-left: 15px;
}

/* Lista Titulos */
.ListaTitulos {
  text-decoration: none;
  color: var(--texto);
  background-color: var(--fondoNav);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.ListaTitulos:hover {
  color: var(--hoverTexto);
  transition: 0.3s;
}
.tituloEnTexto {
  background-color: var(--fondoNav);
  border-radius: 5px;
  border: 1px solid var(--boton);
}
.tituloEnTexto:focus {
  border-color: var(--hoverBorde);
  outline: none;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* Error 404    hover y transition*/
.hoverImg {
  transition: transform 0.3s ease;
}
.hoverImg:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* Perfil de participante */
.tituloH2 {
  text-align: center;
  margin-top: 25px;
  font-size: 40px;
}

/* Error */
.error {
  background-color: var(--hoverTexto);
  border-radius: 5px;
  text-align: center;
  color: var(--texto);
  border: 2px solid var(--boton);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
