:root {
  /* Tipografias */
  --tipografiaTitulo: "Rye", serif;
  --tipografiaGeneral: "Playfair Display", serif;

  /* Colores */
  --hoverTexto: #ff3300;
  --hoverBorde: #646cff;
  --boton: #1a1a1a;
  --fondoPricipal: #242424;
  --fondoNav: #333;
  --texto: #fff;
}

.decoracionNone {
  text-decoration: none;
  color: var(--texto);
  background-color: var(--fondoNav);
}
.decoracionNone:hover {
    color: var(--hoverTexto);
    transition: 0.3s;
}